.beeswarm {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.beeswarm svg {
  z-index: 1;
}
.beeswarm .beeswarm-highlighter {
  background: #fff;
  bottom: 0;
  box-shadow: 2px 0 0 2px #fff, -2px 0 0 2px #fff;
  display: block;
  left: 0;
  mix-blend-mode: multiply;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s ease-in-out;
  width: 1px;
  z-index: 99;
}
.beeswarm .beeswarm-highlighter:after {
  background: #9983F0;
  bottom: 0;
  content: "";
  height: auto;
  left: 50%;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  width: 1px;
}
.beeswarm .beeswarm-axis-custom {
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.beeswarm .beeswarm-tooltip {
  background: #9983F0;
  border-top-right-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 1.4rem;
  height: auto;
  left: 0;
  max-width: 300px;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  transform: translate3d(10px, -10px, 0);
  transition: opacity 0.25s ease-in-out;
  z-index: 100;
}
.beeswarm .beeswarm-tooltip:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #9983F0;
  bottom: 10px;
  content: "";
  display: block;
  height: 0;
  left: -6px;
  position: absolute;
  width: 0;
}
.beeswarm .beeswarm-tooltip.reverse {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  transform: translate3d(calc(-100% - 10px), -10px, 0);
}
.beeswarm .beeswarm-tooltip.reverse:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #9983F0;
  border-right: none;
  left: auto;
  right: -6px;
}
.pointCharts {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.points-container {
  display: block;
  height: auto;
  margin: 60px auto;
  position: relative;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .points-container {
    margin: 120px auto;
    width: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .points-container {
    width: 900px;
  }
}
.points-container .points-row {
  display: block;
  height: auto;
  position: sticky;
  top: 120px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .points-container .points-row {
    display: flex;
    top: 180px;
  }
}
.points-container .points-explanation {
  display: block;
  font-size: 1rem;
  font-weight: 200;
  height: 10rem;
  line-height: 2rem;
  margin: 0 auto;
  padding-top: 0;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .points-container .points-explanation {
    flex: 0 0 200px;
    font-size: 1.2rem;
    padding: 20px 0 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .points-container .points-explanation {
    flex: 0 0 300px;
    font-size: 1.4rem;
  }
}
.points-container .points-explanation span:before {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 6px;
  margin-right: 5px;
  vertical-align: middle;
  width: 6px;
}
.points-container .points-row-1 .points-explanation span:before {
  border-color: rgba(0, 0, 0, 0.5);
}
.points-container .points-row-2 .points-explanation span:before {
  border-color: rgba(0, 0, 0, 0.75);
}
.points-container .points-row-3 .points-explanation span:before {
  background-color: red;
  border-color: red;
}
.points-container .points-wrapper {
  display: block;
  height: 250px;
  margin: 10px auto;
  position: relative;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .points-container .points-wrapper {
    flex: 0 0 300px;
    height: 300px;
    width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .points-container .points-wrapper {
    flex: 0 0 600px;
    height: 600px;
    width: 600px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #444;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #9983F0;
}

p {
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
}
p strong {
  color: #9983F0;
}
p.note {
  border-left: 1px solid #444;
  font-size: 1.4rem;
  font-style: italic;
  margin: 0 4rem;
  padding: 0 0 0 2rem;
}

blockquote {
  font-family: "Playfair Display", Serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  margin: 6rem auto;
  text-align: center;
  width: 80%;
}
blockquote strong {
  color: #9983F0;
}
@media screen and (min-width: 768px) {
  blockquote {
    font-size: 3rem;
    margin: 12rem auto;
  }
}
@media screen and (min-width: 1280px) {
  blockquote {
    font-size: 3rem;
    margin: 12rem auto;
    width: 70%;
  }
}

.block {
  display: block;
  margin: 0 1rem 6rem 1rem;
  max-width: 120rem;
  padding: 0 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .block {
    margin: 0 auto 6rem auto;
    padding: 0 10rem;
  }
}

.block-title {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 2rem 0;
  padding: 0;
  text-transform: uppercase;
}
.block-title strong {
  color: #9983F0;
  font-size: 4rem;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .block-title {
    font-size: 2.6rem;
  }
  .block-title strong {
    font-size: 6rem;
  }
}

.block-subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 2rem 0;
  padding: 0;
  text-transform: uppercase;
}
.block-subtitle strong {
  color: #9983F0;
  font-size: 3.2rem;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .block-subtitle {
    font-size: 2rem;
  }
  .block-subtitle strong {
    font-size: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .block-intro {
    height: 60rem;
    max-height: 80vh;
  }
}
.block-intro .image {
  background: transparent url("/picture.adfde5a5.jpg") center center no-repeat;
  background-size: cover;
  height: 70vh;
  margin: 0 -20px;
  width: auto;
}
@media screen and (min-width: 768px) {
  .block-intro .image {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: 0;
    position: absolute;
    right: auto;
    top: 0;
    width: 80%;
    z-index: 1;
  }
}
.block-intro .text {
  display: block;
  margin-top: -6rem;
}
@media screen and (min-width: 768px) {
  .block-intro .text {
    top: 5rem;
    height: auto;
    margin-top: 0;
    max-width: 30%;
    right: 2.5rem;
    position: absolute;
    z-index: 2;
  }
}
.block-intro .text h1 {
  background: #fff;
  box-shadow: 0 0 0 0.4rem #fff;
  margin: 0 0 2rem 0;
}
.block-intro .text h2 {
  background: #fff;
  box-shadow: 0 0 0 4px #fff;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0 0 2rem 0;
  padding: 0;
  text-transform: uppercase;
}
.block-intro .text p {
  background: #fff;
  box-shadow: 0 0 0 4px #fff;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
  padding: 0;
}
.block-intro .text p.gallery {
  background: transparent;
  box-shadow: none;
}
.block-intro .text p strong {
  color: #9983F0;
}
.block-intro .text p em {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.block-intro .text img {
  height: 6rem;
  object-fit: contain;
  width: 6rem;
}

.block-chart-beeswarm {
  height: 55rem;
  padding: 0;
}
.block-chart-beeswarm .block-title {
  margin-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .block-chart-beeswarm {
    height: 40rem;
    padding: 0 8.5rem;
  }
}
.block-chart-beeswarm .beeswarm-container {
  display: block;
  filter: blur(0);
  height: 55rem;
  margin: 0;
  position: relative;
  transition: filter 0.25s ease-in-out;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .block-chart-beeswarm .beeswarm-container {
    height: 40rem;
  }
}
.block-chart-beeswarm .beeswarm-container.blurred {
  filter: blur(10px);
}
.block-chart-beeswarm .beeswarm-container .beeswarm-tick text {
  font-size: 1.2rem;
}
.block-chart-beeswarm .beeswarm-container .beeswarm-word {
  fill: none;
  stroke: #9983F0;
  stroke-width: 1.5;
}
.block-chart-beeswarm .beeswarm-container .icon {
  font-size: 30px;
}
.block-chart-beeswarm .beeswarm-container .text-xl {
  fill: #F17BD7;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.block-chart-beeswarm .beeswarm-container .text-s {
  fill: #F17BD7;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.block-chart-beeswarm .words-inner-tooltip {
  display: flex;
  min-height: 30px;
  min-width: 250px;
  position: relative;
}
.block-chart-beeswarm .words-inner-tooltip h2 {
  color: #F17BD7;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.block-chart-beeswarm .words-inner-tooltip p {
  color: #fff;
  margin-top: 5px;
  padding-left: 10px;
}
.block-chart-beeswarm .words-inner-tooltip img {
  height: 50px;
  object-fit: contain;
  width: 50px;
}

.grid-wrapper {
  display: block;
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .grid-wrapper {
    display: flex;
    margin: 0 -1rem 6rem -1rem;
  }
}
.grid-wrapper .grid-cell {
  display: block;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .grid-wrapper .grid-cell {
    flex: 0 0 33.33%;
    padding: 0 1rem;
  }
}
.grid-wrapper .grid-cell h3 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 2rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .grid-wrapper .grid-cell h3 {
    font-size: 3.6rem;
    text-align: left;
  }
}
.grid-wrapper .grid-cell p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .grid-wrapper .grid-cell p {
    text-align: left;
  }
}
.grid-wrapper .grid-cell.total-words h3 {
  color: #F17BD7;
}
.grid-wrapper .grid-cell.noStopwords-words h3 {
  color: #FF83AC;
}
.grid-wrapper .grid-cell.noOnomatopoeic-words h3 {
  color: #FFA381;
}

/*# sourceMappingURL=/app.c0e5f9db.css.map */